<!DOCTYPE html>
<html>
<head>
  <title>Keittokirja</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="content">
<ul id="navbar">
	<li> haku </li>
	<li> linkkeja </li>
	<li>	linkkeja </li>
</ul></br>
<%= yield %>
</div>
</body>
</html>
